:root {
  --main-green: #12bdac;
  --border-green: #0ba192;
  --board-width: 300px;
}

* {
  box-sizing: border-box;
}

#tic-tac-toe {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article {
  margin-bottom: 30px;
}

#select {
  display: flex;
  flex-direction: column;
  width: var(--board-width);
  height: 100px;
  justify-content: space-around;
  align-items: center;

}
#select #select-ox {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#select-ox div {
  width: 100px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-radius: 8px;
  border-bottom: 1px solid var(--main-green);
  box-shadow: 0px 4px 6px -4px rgba(0,0,0,0.62);
  cursor: pointer;

}

#select-ox div.selected {
  background-color: var(--main-green);
  color: white;
}

#score-board {
  display: flex;
  width: var(--board-width);
  justify-content: center;
  font-size: 1.5rem;
}

#board {
  width: var(--board-width);
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.62);
  color: rgb(59, 59, 59);
}

#board .row {
  display: flex;
  height: 100px;
}

#board .row:first-child .block:first-child {
  border-top-left-radius: 10px;
}

#board .row:first-child .block:last-child {
  border-top-right-radius: 10px;
}

#board .row:last-child .block:first-child {
  border-bottom-left-radius: 10px;
}

#board .row:last-child .block:last-child {
  border-bottom-right-radius: 10px;
}

#board .block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-align: center;
  background-color: var(--main-green);
  border-right: 7px solid var(--border-green);
  flex: 1;

  cursor: pointer;
}

#board .block:last-child {
  border-right: none;
}
#board .row {
  border-bottom: 7px solid var(--border-green);
}
#board .row:last-child {
  border-bottom: none;
}

#restart {
  cursor: pointer;
  font-size: 1.5rem;
}
