:root {
  --header-top-height: 36px;
  --header-main-height: 66px;
  --naver-green: #00ab33;
  --cell-width: 308px;
  --header-width: 940px;
  --section-background: #e9ecef;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
}

button {
  border: none;
  background: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.full-height {
  height: 100%;
}

.entire-wrapper {
  min-width: 990px;
}

.wrapper {
  width: var(--header-width);
  display: flex;

}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 304px);
  gap: 14px;
}

.grid-cell {
  background: white;
  border: 1px solid rgba(161, 161, 161, 0.459);
}



/* Header */

.header__bg {
  background: #00ab33 url(https://ssl.pstatic.net/imgshopping/cnsv/p/im/common/gnb/bg_gheader_v2.jpg) no-repeat 100% 0;
  color: white;
}

.header__top {
  /* width: 100%; */
  position: relative;
  height: var(--header-top-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.header__border-line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  height: 1px;
  opacity: .1;
  background-color: black;
}

.header__top--wrapper {
    justify-content: space-between;
}

.header__top--left, .header__top--right {
  display: flex;
  margin: 0 20px;
}

.header__top--left div, .header__top--right div {
  margin: 0 10px;
}


.header__main {
  /* width: 100%; */
  position: relative;
  height: var(--header-main-height);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__main--wrapper {
  justify-content: center;
}

.header__main--shopping {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header__shopping-home {
  display: flex;
  align-items: center;
  width: 78px;
  justify-content: space-between;
  font-size: 24px;
}

.header__naver-logo {
  width: 28px;
  height: 28px;
}

.header__main--search {
  display: flex;
  align-items: center;
  height: 34px;
  margin-right: 20px;
}
.header__search-form {
  display: flex;
  align-items: center;
}
.header__search-input {
  width: 230px;
  border: 1px solid #00b637;
  border-right: none;
}

.header__search-btn {
  width: 50px;
  background-color: #00d941;
  border: 1px solid #00b637;
  color: white;
}

.header__detail-search {
  color: white;
  margin-left: 10px;
}

.header__main--others {
  display: flex;
  align-items: center;
}

.header__more-category {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.568);
  background: rgba(255, 255, 255, 0.11);
  border-radius: 2px;
  padding: 5px 10px;
}

.header__devide-line {
  margin: 0 13px;
}

.header__other-options {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header__menus {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.header__menu-move {
  font-size: 2rem;
  color: rgba(153, 153, 153, 0.363);
}

.header__menu-move:hover {
  color: rgba(61, 61, 61, 0.63);
}
.header__menu-wrapper {
  width: var(--header-width);
  overflow: hidden;
}

.header__menu-list {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  color: #000;
  width: 200%;
  overflow: hidden;

}

.header__menu-list li:first-child {
  margin-left: 15px;
}

.header__menu-list li {
  margin-right:15px;
}

.header__menu-list li a {
  cursor: pointer;

  font-size: 1.3rem;
}

.header__menu-list li a:hover {
  color: var(--naver-green);
  border-bottom: 1px solid var(--naver-green);
}


/* BODY */

.section__container {
  width: 100%;
  background-color: var(--section-background);
  min-height: 2327px;
}

.section__shopping {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
}

.section__shopping-top {
  height: 496px;
  position: relative;
}

.custom-cell-01 {
  position: absolute;
  right: 0;
  z-index: 10;
  width: 304px;
  height: 496px;
  top: 254px;
}

.section__shopping-middle {
  height: 240px;
  margin-top: 14px;
  position: relative;
}

.custom-cell-02 {
  position: absolute;
  right: 0;
  top: -510px;
  width: 304px;
  height: 240px;
}

.section__shopping-bottom {
  margin-top: 14px;
  height: 1306px;
}

.section__shopping-mallarea {
  margin-top: 14px;
  width: 940px;
}

.section__shopping-mallarea .section__top {
  width: 100%;
  height: 100px;
}

.section__shopping-mallarea .section__bottom {
  width: 100%;
  height: 100px;
  margin-top: 16px;
}

.selection {
  background-color: white;
  border: 1px solid rgba(161, 161, 161, 0.459);
}

.section__home-notice {
  width: 940px;
  height: 47px;
  display: flex;
  border-top: 2px solid black;
  border-bottom: 1px solid rgba(95, 95, 95, 0.589);
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.section__home-notice p {
  margin-left: 25px;
  width: 771px;
}

.section__home-notice h3 {
  font-size: 16px;
}

footer {
  width: 100%;
  height: 206px;
  background-color: var(--section-background);
}
