:root {
  --header-top-height: 36px;
  --header-main-height: 66px;
  --naver-green: #00ab33;
  --cell-width: 304px;
  --header-width: 940px;
  --section-background: #e9ecef;
  --border-color: rgba(161, 161, 161, 0.459);
  --font-normal-size: 12px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 11px;
}

button {
  border: none;
  background: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #000;
}

em {
  font-style: normal;
}

.full-height {
  height: 100%;
}

.entire-wrapper {
  min-width: 990px;
}

.wrapper {
  width: var(--header-width);
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 304px);
  gap: 14px;
}

.grid-cell {
  background: white;
  border: 1px solid var(--border-color);
}

/* Header */

header {
  font-size: 11px !important;
}

.header__bg {
  background: #00ab33
    url(https://ssl.pstatic.net/imgshopping/cnsv/p/im/common/gnb/bg_gheader_v2.jpg)
    no-repeat 100% 0;
  color: white;
}

.header__top {
  /* width: 100%; */
  position: relative;
  height: var(--header-top-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.header__border-line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  height: 1px;
  opacity: 0.1;
  background-color: black;
}

.header__top--wrapper {
  justify-content: space-between;
}

.header__top--left,
.header__top--right {
  display: flex;
  margin: 0 20px;
}

.header__top--left div,
.header__top--right div {
  margin: 0 10px;
}

.header__main {
  /* width: 100%; */
  position: relative;
  height: var(--header-main-height);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__main--wrapper {
  justify-content: center;
}

.header__main--shopping {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header__shopping-home {
  display: flex;
  align-items: center;
  width: 78px;
  justify-content: space-between;
  font-size: 24px;
}

.header__naver-logo {
  width: 28px;
  height: 28px;
}

.header__main--search {
  display: flex;
  align-items: center;
  height: 34px;
  margin-right: 20px;
}
.header__search-form {
  display: flex;
  align-items: center;
}
.header__search-input {
  width: 230px;
  border: 1px solid #00b637;
  border-right: none;
}

.header__search-btn {
  width: 50px;
  background-color: #00d941;
  border: 1px solid #00b637;
  color: white;
}

.header__detail-search {
  color: white;
  margin-left: 10px;
}

.header__main--others {
  display: flex;
  align-items: center;
}

.header__more-category {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.568);
  background: rgba(255, 255, 255, 0.11);
  border-radius: 2px;
  padding: 5px 10px;
}

.header__devide-line {
  margin: 0 13px;
}

.header__other-options {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header__menus {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.header__menu-move {
  font-size: 2rem;
  color: rgba(153, 153, 153, 0.363);
}

.header__menu-move:hover {
  color: rgba(61, 61, 61, 0.63);
}
.header__menu-wrapper {
  width: var(--header-width);
  overflow: hidden;
}

.header__menu-list {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  color: #000;
  width: 200%;
  overflow: hidden;
}

.header__menu-list li:first-child {
  margin-left: 15px;
}

.header__menu-list li {
  margin-right: 15px;
}

.header__menu-list li a {
  cursor: pointer;

  font-size: 1.3rem;
}

.header__menu-list li a:hover {
  color: var(--naver-green);
  border-bottom: 1px solid var(--naver-green);
}

/* BODY */

.section__container {
  width: 100%;
  background-color: var(--section-background);
  min-height: 2327px;
}

.section__shopping {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
}

.section__shopping-top {
  height: 496px;
  position: relative;
}

.category-area {
  display: flex;
}

.category-menu {
  background-color: #333949;
  width: 124px;
  height: 100%;
}

.category-menu h3 {
  height: 41px;
  text-transform: uppercase;
  padding: 14px;
  border-bottom: 1px solid #2b313f;
  color: rgba(255, 255, 255, 0.46);
}

.category-list {
  padding-top: 6px;
}

.category-item {
  height: 34px;
  padding: 7px 8px;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: -0.5px;
  white-space: nowrap;
  text-align: left;
  color: rgba(255, 255, 255, 0.46);
  margin-top: 3px;
  cursor: pointer;
  border: 1px solid #333949;
}

.category-item:first-child {
  margin-top: 0px;
}

.category-info {
  width: 180px;
}

.category-title {
  padding: 20px 0 7px;
  text-align: center;
  border-top: 1px solid var(--border-color);
}

.category-popular {
  width: 180px;
  height: 262px;
}

.category-title em {
  color: var(--naver-green);
  border: 1px solid var(--naver-green);
  font-style: normal;
  font-size: 1.1rem;
}
.category-tag {
  text-align: center;
  padding: 3px 5px 0;
}

.category-tag .tag-item {
  height: 24px;
  margin: 6px 1px 0 1px;
  padding: 0 5px;
  background-color: #e8eef4;
  line-height: 24px;
  color: #666;
  font-size: var(--font-normal-size);
}

.home-event-image-container {
  overflow: hidden;
}

.home-event-image {
  width: var(--cell-width);
  height: 496px;
}

.custom-cell-01 {
  position: absolute;
  right: 0;
  z-index: 10;
  width: 304px;
  height: 496px;
  top: 254px;
}

.title-area {
  width: var(--cell-width);
  height: 62px;
  padding-top: 13px;
  text-align: center;
}

.title-area img {
  width: 53px;
}

.title-area h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  height: 50px;
}

.title-area h3 span {
  margin-top: 3px;
  font-size: 14px;
}

.list-wrapper-news {
  width: var(--cell-width);
  height: 178px;
  padding: 11px 18px 0 18px;
}

.list-wrapper-news ul {
  display: flex;
  justify-content: space-between;
}

.list-wrapper-news ul li {
  display: flex;
  flex-direction: column;
  width: 130px;
}

.list-wrapper-news ul li span {
  margin-top: 7px;
  font-size: 13px;
}

.list-wrapper-news ul li em {
  margin-top: 2px;
  font-size: var(--font-normal-size);
  color: #919191;
}

.list-wrapper-megazine {
  width: var(--cell-width);
  height: 254px;
}

.list-wrapper-megazine li {
  width: 100%;
  padding: 13px 17px 11px;
  height: 83px;
  border-top: 1px solid var(--border-color);
  display: flex;
}

.list-wrapper-megazine li:first-child {
  height: 85px;
}

.list-wrapper-megazine .img-area {
  background-color: rgb(206, 252, 212);
}

.list-wrapper-megazine img {
  width: 90px;
  height: 60px;
}

.list-wrapper-megazine .text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 168px;
  height: 60px;
}

.list-wrapper-megazine .text-area span:first-child {
  color: rgb(89, 198, 241);
  font-size: var(--font-normal-size);
}

.list-wrapper-megazine .text-area span:last-child {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.banner-item {
  position: relative;
  overflow: hidden;
}

.banner-item img {
  width: 308px;
  height: 62px;
}

.banner-item .mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.banner-title {
  position: absolute;
  left: 0;
  top: 18px;
  width: 100%;
  height: 27px;
  text-align: center;
}

.banner-title span {
  padding: 6px 10px;
  border: 1px solid #fff;
}

.banner-title span em {
  font-style: normal;
  position: relative;
  z-index: 10;
  font-size: 14px;
  color: #fff;
}

.brand-shopping-item {
  height: 240px;
}

.brand-shopping-item ul {
  width: var(--cell-width);
  height: 177px;
  padding-left: 1px;
  display: flex;
}

.brand-shopping-item ul li {
  width: 101px;
  height: 177px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.brand-shopping-item ul li:first-child {
  width: 100px;
}

.brand-shopping-item ul li img {
  width: 100px;
  height: 100px;
}

.brand-shopping-item ul li span {
  margin: 7px 0px 3px 0px;
  padding: 0px 5px;
  font-size: 13px;
}

.brand-shopping-item ul li em {
  font-size: var(--font-normal-size);
  color: #919191;
}

.section__shopping-middle {
  height: 240px;
  margin-top: 14px;
  position: relative;
}

.section__shopping-middle > .grid-cell:first-child {
  height: 240px;
}

.custom-cell-02 {
  position: absolute;
  right: 0;
  top: -510px;
  width: 304px;
  height: 240px;
}

.section__shopping-bottom {
  margin-top: 14px;
  height: 1306px;
}

.section__shopping-bottom.grid {
  grid-template-rows: repeat(1, 240px);
}

.section__shopping-mallarea {
  margin-top: 14px;
  width: 940px;
}

.section__shopping-mallarea .section__top {
  width: 100%;
  height: 100px;
}

.section__shopping-mallarea .section__bottom {
  width: 100%;
  height: 100px;
  margin-top: 16px;
}

.selection {
  background-color: white;
  border: 1px solid var(--border-color);
}

.section__home-notice {
  width: 940px;
  height: 47px;
  display: flex;
  border-top: 2px solid black;
  border-bottom: 1px solid rgba(95, 95, 95, 0.589);
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.section__home-notice p {
  margin-left: 25px;
  width: 771px;
}

.section__home-notice h3 {
  font-size: 16px;
}

footer {
  width: 100%;
  height: 206px;
  background-color: var(--section-background);
}
